* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: #fff;
    font-size: 1.8em;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.donate-section {
    background: linear-gradient(135deg, #6c74cc, #acb5e3);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.donate-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.donate-content p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.donate-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    color: #333;
}

.donate-form h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.donate-form label {
    font-size: 1.1em;
    display: block;
    margin: 10px 0 5px;
}

.donate-form input, .donate-form textarea, .donate-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.donate-form select {
    font-size: 1.1em;
    background-color: #fff;
    color: #333;
}

.donate-form button.donate-button {
    background-color: #6c74cc;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.donate-form button.donate-button:hover {
    background-color: #5a64b0;
}


.qr-code {
    margin-top: 40px;
}

.qr-code h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #fff;
}

.qr-image {
    width: 300px; 
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer p {
    font-size: 1em;
}